<ion-view view-title="{{customerDetailData.Name}}"  cache-view="false">
  <ion-content class="padding" overflow-scroll="false">
  <!-- <p>{{customerDetailData.Contact}}</p> -->
   <!-- <div class="list card" >
      <span class="item item-divider" style="text-align: center; font-size: 18px">Book an Appointment for Service</span> -->


        <form ng-submit="submitc()" name="customerForm">
        <div class="list card"  style="margin-top: 2px">
          <span class="item item-divider" style="text-align: center; font-size: 18px">Add Medicines</span>
  
           <!-- <label class="item item-input item-stacked-label">
                <span class="input-label">Name: </span>
                <input type="text" name="cusername" placeholder="Customer name" id="cusername" ng-model="data.cusername" required="">
            </label>-->
 
            <!--<label class="item item-input item-stacked-label">
              <span class="input-label">Loacation:  </span>
              <input type="text"  name="clocation" placeholder="Customer Loacation" id="clocation" ng-model="data.clocation" required="">
            </label> -->

    
     
      <div class="row">
       <input name="medicine" ng-model="data.addToDoValue"  placeholder="Add Medicines Name" style="border: none; width: 70%" ng-change="medicines()"> 
       <input type="number" min="1" ng-model="data.itemNumber"   name="count"  style="width: 30%;text-align: center;" placeholder="Number" ng-change="medicines()"> 
       </div>
        
      
       <button class="button button-block button-stable list card"    ng-disabled="isMedicine" ng-click="add()" style="">Add In List</button>
      
        <!--  <span style="margin-left: 8px;font-weight: bold;">Checked Medicines: {{getTotalCheckedItems()}}</span>
        <ul>
        <li ng-repeat="item in checked" class="item-checked" style="text-transform: capitalize;margin-left: 8px">
          {{item.medName}} |  {{item.count}} 
          
        </li></ul> -->
         
         <span style="margin-left: 8px;font-weight: bold">Total Medicines: {{getTotalItems()}}</span>
        <ul>
            <li  ng-repeat="t in items track by $index" style="padding-bottom: 2px;text-transform: capitalize;margin-left: 8px; " ng-model="data.medicineList" class="item-unchecked">
             <!--  <input type="checkbox"  ng-click="toggleChecked($index)">  -->
              {{ t.medName }} | <b style="color:#11c1f3 " > {{t.count}}</b> 
              <button ng-click="delete($index)" style="border: none;" >X</button> 
            </li>
        </ul>
    
    


          <!--  <label class="item item-input item-stacked-label">
              <span class="input-label">Item  </span>
              <input type="text"  name="ccontact" placeholder="Customer Contact" id="ccontact" ng-model="data.ccontact" required="" style="text-align: center">
            </label> -->
          <label class="item item-input item-stacked-label">
              <!--<span class="input-label">Type:  </span>--> 
               <input type="text"  name="num"  id="num" ng-model="data.num" ng-value="{{cmobno}}" required="" style="text-align: center">
          </label>

          <label class="item item-input item-stacked-label">
              <!--<span class="input-label">Type:  </span>--> 
              <input type="text"  name="ctype" placeholder="Medicine Center Name" id="ctype" ng-model="data.ctype" required="" style="text-align: center">    
          </label>


          <label>
          <div class="row" >
                  <div class="col col">Date: </div>
                  <div class="col-75" style="margin-right: -20px; margin-top: -5px">
                      <input type="date" min="2017-01-01" max="2020-12-31"  name="bdate"  id="bdate" ng-model="data.bdate"  required="" >
                  </div>
              </div>
              </label>
            <!-- <a class="button button-block button-calm" type="submit" name="submit" value="" href="#/tab/dash">Join this Business</a> -->
            <!--  <div class="item item-icon-left" ion-datetime-picker ng-model="datetimeValue">
                <i class="icon ion-ios-grid-view-outline positive"></i>
                Basic datetime picker:
                <strong>{{datetimeValue| date: "yyyy-MM-dd H:mm"}}</strong>
                <<input type="text" name="userId" value="{{datetimeValue| date: 'yyyy-MM-dd H:mm'}}\" ng-model="datetimeValue"/>-->
                <!--  <input type="hidden" name="dtte"  ng-value="datetimeValue"/>
            </div>


<ion-list>
  <div class="item" ion-datetime-picker ng-model="datetimeValue">
    {{datetimeValue| date: "yyyy-MM-dd H:mm:ss"}}
  </div>
</ion-list> --> </div> 
            <input class="button button-block button-calm" type="submit" name="submit" value="Order Your Medicines">
      </form>


   
    
  </ion-content>
</ion-view>
