<ion-view view-title="Welcome To OnTouch" cache-view="false">
    <ion-content class="padding" ng-controller="loginController" overflow-scroll="false">
        
	      <!-- <img src="img/icon2.jpg" width="100%" height="88px" style="border-radius: 5px;"> <br><br> -->
<h1 style="text-align: center; font-size: 60px; margin-top: 40%; color: #11c1f3; text-shadow:4px 3px 10px gray ">OnTouch</h1>

	      <div style="margin-top: 30px">
	        <button class="button" ng-click = "register()" style="background-color: #11c1f3;margin-left: 0px;color: white;width: 100px">Register</button> 
	        <button class = "button" ng-click = "login()" style="background-color: #11c1f3;float: right;color:white;width: 100px">Login</button>
	      </div> <br><br>

<!-- <h1 style="text-align: center; font-size: 60px; margin-top: 20%; color: #11c1f3; text-shadow:4px 3px 10px gray ">OnTouch</h1> -->

        <!-- <img src="img/icon2.jpg" width="100%" height="88px" style="border-radius: 5px; margin-top: 100px"> <br><br> -->
    </ion-content>
      <div class="bar bar-footer bar-calm" >
        <div class="title"><h6>Copy Right&copy; OnTouch <span id="demo"></span> | All Rights Reserved&reg;</h6>
        </div>
      </div>
</ion-view>