<ion-view view-title="Medicines List" cache-view="false">
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>  
  <ion-content overflow-scroll="false">
    <p style="text-align: center;">Coming Soon...</p>
  <!-- <span style="margin-left: 8px;font-weight: bold;">Checked Medicines: {{getTotalCheckedItems()}}</span>
        <ul>
        <li ng-repeat="item in checked" class="item-checked" style="text-transform: capitalize;margin-left: 8px">
          {{item.count}} |  {{item.name}} 
          
        </li></ul>
 
    
         <span style="margin-left: 8px;font-weight: bold">Total Medicines: {{getTotalItems()}}</span>
        <ul> 
             
            <li  ng-repeat="t in medicines track by $index" style="padding-bottom: 2px;text-transform: capitalize;margin-left: 8px; " ng-model="data.medicineList" class="item-unchecked">
              <input type="checkbox"  ng-click="toggleChecked($index, t.id,t.name, t.count)"> 
              {{ t.name }} | <b style="color:#11c1f3 " > {{t.count}} </b> 
              <input type="text" name="medicineId" ng-init="" ng-model="medicineId" ng-value="t.id" style="display: none;">

              <input type="text" name="medicineName" ng-init="" ng-model="medicineName" ng-value="t.name" style="display: none;">
              <input type="text" name="medicineCount" ng-init="" ng-model="medicineCount" ng-value="t.count" style="display: none;">

             
              <button ng-click="delete($index)" style="border: none;" >X</button> 
            </li>
        </ul> -->
  </ion-content>
</ion-view>