<ion-view view-title="Ratings" cache-view="false">
  <!-- <ion-nav-title>{{sellItemToCustomer.cust_name}}</ion-nav-title> -->
  <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons> 

  <ion-content class="padding" overflow-scroll="false"> 
<!-- {{sellItemToCustomer.service_center_id}} -->
<!-- {{sellItemToCustomer.cust_name}} -->
  <!-- <form ng-submit="ratingComment(rating)"> -->
   <!--  <div class="card"  ng-init="rating = star.rating + 1" style="text-align: center;line-height: 1; font-size: 30px;">
      <div class="star-rating" star-rating rating-value="rating" data-max="5" on-rating-selected="rateFunction(rating)">
      </div>
    </div> -->
    <div style="text-align: center;font-size: 15px">Rate This Service</div><br>
    <!-- <span style="margin-left: 38%; font-weight: bolder; font-size: 35px">{{ avgrating| number : 2}}</span> -->
   

    <div class="rows"  id="ratingicons" style="text-align: center;line-height: 1; text-shadow: 5px 3px 8px black;">
     
     <i class="ion-happy balanced" ng-click="rateFunction(5)" style="margin-right: 10px;margin-left: 9px;font-size: 75px;" ></i>
     
     <i class="ion-sad energized" ng-click="rateFunction(3)" style="margin-right: 10px;margin-left: 9px;font-size: 75px;"></i></a>
    
     <i class="ion-sad assertive" ng-click="rateFunction(1)" style="margin-right: 10px;margin-left: 9px;font-size: 75px;"></i>
    </div>

    <div class="row" style="margin-left: 35px">
      <div class="col">Happy</div>
      <div class="col" style="margin-left: -20px">Sad</div>
      <div class="col" style="margin-left: -30px">Angry</div>
    </div><br><br>


    
     <!--  <div class="card" >
       <textarea name="comment" ng-model="comment" placeholder="Your Comment About The Service..." rows="3" cols="45" style="margin-left: 10px;padding-top: 10px"></textarea>
      </div>-->

    <!--  <input class="button button-block button-calm" type="submit" name="submit" value="Submit Your Comment"> -->
  <!-- </form> -->

      

   <!-- <div id="chartContainer" style="height:200px; width: 100%;"></div>      -->
  </ion-content>
</ion-view>