<ion-view view-title="Add a Service Center" >
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons> 

  <ion-content class="padding">

<!--<div class="list card">
  <div class="item item-image">
    <img ng-src="{{pictureUrl}}">
  </div>
</div>
<div class="padding">
  <button ng-click="takePicture()" class="button button-calm button-block">Take Picture</button>
</div>-->





<!-- <div class="list card" >
 <span class="item item-divider" style="text-align: center;">Add a New Service Center</span> -->
 <form ng-submit="businessSubmit()"  name="bForm">
 <div class="list card" id="businesssubmit">
 <span class="item item-divider" style="text-align: center;">Add a New Service Center</span>
 <!-- Business Name -->
  <label class="item item-input item-stacked-label">
    <!--<span class="input-label">Name:* </span>-->
    <input type="text" name="sname" placeholder="Service Center Name" id="sname" ng-model="data.sname" required>
    <span style="color:red" ng-show="bForm.sname.$dirty && bForm.sname.$invalid">
<span ng-show="bForm.sname.$error.required">Service Center Name is required.</span>
</span>
  </label>
  <!-- Business Contact No -->
  <label class="item item-input item-stacked-label">
    <!--<span class="input-label">Contact No.:* </span>-->
    <input type="text" name="contact1" placeholder="Contact Number 1" id="contact1" ng-model="data.contact1" pattern="[7-9]{1}[0-9]{9}">

  <!-- pattern="[7-9]{1}[0-9]{9}" -->
    <span style="color:red" ng-show="bForm.contact1.$dirty && bForm.contact1.$invalid">
<span ng-show="bForm.contact1.$error.required">Contact number is required</span>
</span>
  </label>
  <label class="item item-input item-stacked-label">
    <!--<span class="input-label">Contact No.:* </span>-->
     <input type="text" name="contact2" placeholder="Contact Number 2" id="contact2" ng-model="data.contact2" pattern="[0-9]{9}">

  <!-- pattern="[7-9]{1}[0-9]{9}" -->
    <span style="color:red" ng-show="bForm.contact2.$dirty && bForm.contact2.$invalid">
<span ng-show="bForm.contact2.$error.required">Contact number is required</span>
</span>
  </label> 
  <!-- Business Detail -->
  <label class="item item-input item-stacked-label">
    <!--<span class="input-label">Business Details:* </span>-->
    <input type="text"  name="city" placeholder="City" id="city" ng-model="data.city" required>
    <span style="color:red" ng-show="bForm.city.$dirty && bForm.city.$invalid">
<span ng-show="bForm.city.$error.required">Current City is required</span>
</span>
  </label>
  <label class="item item-input item-stacked-label">
    <!--<span class="input-label">Business Details:* </span>-->
    <input type="text"  name="area" placeholder="Area" id="area" ng-model="data.area" required>
    <span style="color:red" ng-show="bForm.area.$dirty && bForm.area.$invalid">
<span ng-show="bForm.area.$error.required">Area is required</span>
</span>
  </label>
  <label class="item item-input item-stacked-label">
    <!--<span class="input-label">Business Details:* </span>-->
    <input type="text"  name="company" placeholder="Company Name" id="company" ng-model="data.company" required>
    <span style="color:red" ng-show="bForm.company.$dirty && bForm.company.$invalid">
<span ng-show="bForm.company.$error.required">Company Name is required</span>
</span>
  </label>
  <label class="item item-input item-stacked-label">
    <!--<span class="input-label">Business Details:* </span>-->
    <!-- <input type="text"  name="vehicle" placeholder="Vehicle Type - Car/Bike" id="vehicle" ng-model="data.vehicle" required> -->
    <div class="list">

  <label class="item item-input item-select">
    <div class="input-label" style="margin-left: -15px;color: #bdbdbd">
      Type of Vehicle
    </div>
    <select name="vehicle" ng-options="user.vehicle for user in Vehicles" ng-model="userselected">
      <option value="">Select type</option>
    </select>
  </label>

</div>
    <span style="color:red" ng-show="bForm.vehicle.$dirty && bForm.vehicle.$invalid">
<span ng-show="bForm.vehicle.$error.required">Vehicle Type is required</span>
</span>
  </label>
<!-- <span>User Name: {{userselected.vehicle}}, UserId: {{userselected.id}}</span> -->
</div> 
  <input class="button button-block button-calm" type="submit" name="submit" value="Add Service Center" ng-disabled="bForm.sname.$dirty && byForm.sname.$invalid ||  
bForm.contact1.$dirty && bForm.contact1.$invalid || bForm.city.$dirty && bForm.city.$invalid">
  
</form>
  </ion-content>
  </ion-view>
